<h1><%= @recipe.title %></h1>
<strong>Tempo de preparo:    </strong><%= @recipe.cook_time %>
<br>
<strong>Ingredientes:        </strong><%= @recipe.ingredients %>
<br>
<strong>Modo de preparo:     </strong><%= @recipe.cook_method %>
<br>
<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar', edit_recipe_path %>
